.cabeçalho-logotipo {
    width: 120px;
}

.exemplos {
    background-image: linear-gradient(#013004, #104205);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.exemplos-título {
    font-size: 32px;
    padding: 24px;
}

.exemplos-texto1 {
    font-size: 26px;
    padding: 24px;
}

.exemplos-imagem1 {
    width: 40%;
} 


.exemplos-texto2 {
    font-size: 26px;
    padding: 24px;
}

.exemplos-imagem2 {
    width: 40%;
}


.exemplos-texto3 {
    font-size: 26px;
    padding: 24px;
}

.exemplos-imagem3 {
    width: 40%;
}


.exemplos-texto4 {
    font-size: 26px;
    padding: 24px;
}

.exemplos-imagem4 {
    width: 40%;
}

.rodapé {
    background-color: #002403;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    align-items: center;
}

.rodapé-imagem {
    width: 40px;
}

.rodapé-ícone {
    width: 40px;
}

.rodapé-ícone2 {
    width: 40px;
}

